*, *::before, *::after {
    margin: 0;
    box-sizing: border-box;
}

:root {
    /* colors */
    --night: rgba(17, 17, 17, 1);
    --cambridge: rgb(115, 174, 135);
    --amber: rgb(225, 191, 0);
    --platinum: rgb(229, 228, 226);
    --moonglow: rgb(182, 205, 209);

    --KodeMono: "Kode Mono";
    --Anta: "Anta";
}

.kode-mono {
    font-family: "Kode Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
.anta-regular {
    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

a {
    margin: 0;
    padding: 0;

    text-decoration: none;
    user-select: none;
    color: inherit;
}
ul > * {
    text-decoration: none;
    list-style: none;
}
h1 {
    font-size: 2.5rem;
    font-family: var(--Anta);
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.5rem;
}
h4 {
    font-size: 1.25rem;
}
h5 {
    font-size: 1rem;
}



body {
    background-color: var(--night);
    overflow-x: hidden;
    margin: 1rem;
}

header {
    display: block;
}
.nametag {
    font-family: var(--Anta);
    color: var(--amber);
    text-align: center;

    user-select: none;
}

nav {
    justify-content: center;
}
.sitePages {
    display: flex;
    margin: 1rem;
    padding: 0 3rem 0 1rem;
    align-items: center;
    justify-content: space-between;
}
.sitePages > li > button {
    padding: 0.25rem;
    border: none;
    background-color: inherit;

    color: var(--amber);
    font-size: 1rem;
}
.sitePages > li > button:hover {
    box-shadow: 0.15rem 0.15rem 0.5rem var(--cambridge);
    border: 0.05rem solid var(--amber);
    border-radius: 0.15rem;
}


/* @media only screen and (min-width: 700px) {

} */

/* @media only screen and (max-width: 599px) {
} */